* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background: #464646;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #3F3F3F;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title{
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  font-weight: 700;
}

.nav > .nav-header > .nav-title > .logolink {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: -10px;
}
.nav > .nav-header > .nav-title > .logolink > .num {
    color: #00DE60;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > .border{
    border: 2px solid #00DE60;
    padding: 5px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}


.box{
    position: absolute;
    display: inline-block;
}

.put {
    padding: 10px;
    width: 40px;
    height: 40px;
    background: none;
    margin-top: 5px;
    border: 2px solid #00DE60;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: white;
    outline: none;
    transition: .5s;
}

.box:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 6px;
}

.box i {
    position: absolute;
    top: 24px;
    right: -3px;
    transform: translate(-50%, -50%);
    font-size: 23px;
    color: white;
    transition: all 0.2s ease 0s;
}

.box:hover i{
    opacity: 0;
    z-index: -1;
}

.titletext {
  color: rgb(255, 255, 255);
  font-size: 87.117px;
  font-weight: 600;
  line-height: normal;
  position: relative;
  left: 20px;
  float: left;
}

.arrow {
  color: #00DE60;
  display: inline-block;
}

.home{
  display: inline-block;
}

.othertexts {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  left: 20px;
  top: 68px;
  /* float: left; */
}

.othertexts2 {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  left: 20px;
  top: 265px;
}

.othertexts2 > .red {
  color:rgb(255, 23, 23);
}

hr {
  border: 2px solid #00DE60;
  position: absolute;
  top: 327px;
  width: 100%;
}

#techmaker {
  width: 244px;
  height: 129px;
  position: relative;
  top: 130px;
  left: 20px;
  cursor: pointer;
}

.techbox {
  color: white;
  padding: 0px 4px 2px 4px;
  background: #292929;
  position: relative;
  top: 50px;
  left: 271px;
  width: 201px;
}

.posts {
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
  align-items: center;
  top: 144px;
  flex-direction: row;
  flex-wrap: wrap;
}

.posts2 {
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
  align-items: center;
  top: 184px;
  flex-direction: row;
  flex-wrap: wrap;
}

.posts3 {
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
  align-items: center;
  top: 225px;
  flex-direction: row;
  flex-wrap: wrap;
}

.posts4 {
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
  align-items: center;
  top: 265px;
  flex-direction: row;
  flex-wrap: wrap;
}

.box1 {
  position: relative;
  width: 20rem;
  background: #D9D9D9;
  border-radius: 5px;
  cursor: pointer;
  transition:0.4s; 
}

.box2 {
  position: relative;
  width: 20rem;
  background: #D9D9D9;
  border-radius: 5px;
  cursor: pointer;
  transition:0.4s; 
}

.box3 {
  position: relative;
  width: 20rem;
  background: #D9D9D9;
  border-radius: 5px;
  cursor: pointer;
  transition:0.4s; 
}

.box1:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0px 10px 20px -3px rgba(139, 139, 139, 0.1);
  opacity: 90%;
}

.box2:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0px 10px 20px -3px rgba(139, 139, 139, 0.1);
  opacity: 90%;
}

.box3:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0px 10px 20px -3px rgba(139, 139, 139, 0.1);
  opacity: 90%;
}

.line {
  border: 1px solid #1f1f1f;
  position: relative;
  top: 364px;
  width: 100%;
}

/* .teams {
  position: relative;
  top: 154px;
  padding: 0px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
  height: 0;
} */

.myteam {
  position: relative;
  top: 381px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  color: white;
}

.my {
  color: #00DE60;
}

#team {
  display: flex;
  gap: 5rem;
  position: relative;
  top: 30rem;
  justify-content: center;
  flex-wrap: wrap;
}

#circle {
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  border-radius: 100%;
  background-color: #00DE60;
  position: relative;
  transition: 0.4s;
  margin-bottom: 1rem;
}

#circle:hover {
  transform: scale(1.1);
}

.linkdeco {
  color: black;
}

.instagram {
  display: flex;
  position: relative;
  justify-content: center;
  top: 523px;
  z-index: 1;
}

#instagram {
  font-size: 50px;
  background: #464646;
  padding: 1px;
  cursor: pointer;
  transition: 0.5s;
}

#instagram:hover {
  color: #00DE60;
}

#line1 {
  border: 1px solid black;
  position: relative;
  top: 495px;
  opacity: 60%;
}

#official {
  color: #00DE60;
  text-decoration: none;
  position: relative;
  left: 4px;
}

.footer {
  width: 100%;
  height: 3em;
  background-color: #3F3F3F;
  display: flex;
  position: relative;
  top: 40rem;
  flex-shrink: 0;
}

.rights {
  color: #BDBDBD;
  display: flex;
  align-items: center;
  position: relative;
  left: 5rem;
  letter-spacing: 1px;
  font-size: 13px;
}

.text001 {
  display: flex;
  position: relative;
  flex-shrink: 0;
  gap: 20px;
}

.tex1 {
  text-decoration: none;
  color: #BDBDBD;
  transition: 0.5s;
}

.tex1:hover {
  color: #00DE60;
}

footer{
  position: relative;
  top: 625px;
  left: 0;
  right: 0;
  /* background: #111; */
  height: auto;
  width: 100%;
  /* padding-top: 40px; */
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom {
  background: #000;
  position: relative;
  width: 100%;
  top: 0px;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-menu{
float: right;

}

.footer-menu ul{
display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}

.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
  .footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  }
  .footer-bottom {
    background: #000;
    position: relative;
    width: 100%;
    top: 0px;
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
  }
}
@media (max-width:500px) {
  .footer-bottom {
    padding-bottom: 70px;
  }
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    left: -30px;
    position: relative;
}
}
@media (max-width:375px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    left: -57px;
    position: relative;
}
}

@media (max-width:320px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    left: -25px;
    position: relative;
  }
  .footer-bottom p {
  position: relative;
  left: 65px;
  }
  hr {
  top: 227px;
  }
  #techmaker {
    margin: -63px 0px 20px -39px;
  }
}








@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #000000;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 1;
}
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .othertexts {
    font-size: 15px;
  }
  .othertexts2 {
    font-size: 15px;
  }
  #techmaker {
    width: 200px;
    height: 106px;
    top: 170px;
    left: 195px;
  }
  .techbox {
    display: none;
}

}
@media (max-width:400px) {
  #techmaker {
    top: 132px;
    left: 107px;
}
  hr {
    position: relative;
    top: 20px;
}
}



/* @media (max-width:1160px) {
  .titletext {
    font-size: 65px;
  }
} */

@media (max-width:500px) {
  .techbox {
    display: none;
  }
}

@media (max-width:425px) {
  .titletext {
    font-size: 55px;
  }
  .othertexts2 {
    top: 220px;
  }
}

@media (max-width:615px) {
  .titletext {
    font-size: 70px;
  }
}
@media (max-width:615px) {
  .titletext {
    font-size: 60px;
  }
}
@media (max-width:430px) {
  .titletext {
    font-size: 50px;
  }
}
@media (max-width:375px) {
  .othertexts {
    font-size: 10px;
  }
  .othertexts2 {
    font-size: 10px;
    top: 201px;
  }
}
@media (max-width:365px) {
  .titletext {
    font-size: 40px;
  }
}
